<div class="medium-4 columns">
  <div class="movie-card">
    <%= image_tag movie.poster_url(:thumb).to_s %> 
    <div class="movie-info">
      <h4 class="subheader"><%= link_to movie.title, movie_path(movie) %></h4>
      <p>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</p>
      <p><%= movie.release_date %></p>
      <p><strong><%= movie.description %></strong></p>
    </div>
  </div>
</div>

