<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<%= form_tag(movies_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
<%= select_tag :duration, options_for_select([ ["Under 90 minutes", 1],["Between 90 and 120 minutes", 2], ["Over 120 minutes", 3]], 1) %> 
<%= submit_tag "Search" %>
<% end %>
<hr>
<% @movies.each do |movie| %>
  <%= image_tag movie.poster_url(:thumb).to_s %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= movie.release_date %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>
<%= link_to "Back to all movies", movies_path %><br/>

